@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
 padding: 0 2rem;
 height:100vh;
 background-color: blue;
 display:flex;
 flex-direction: column;
}

.map{
background-color: red;
flex: 0.5;
}

.start{
background-color: green;
flex: 0.5;
}